<div class="col-lg-3 offset-lg-1">
    <div class="sidebar">

            <h3>Categorie</h3>
            <div id="categories-container" class="d-flex flex-wrap gap-2 category-container"></div>

            <h3>Tag</h3>
            <div id="tags-container" class="d-flex flex-wrap gap-2 tag-container"></div>

        
        
            <h3>Risorse Utili</h3>
            <ul class="list-unstyled">
                <li>Bootstrap</li>
                <li>PHP.net</li>
                <li>Docker Docs</li>
                <li>Javascript Docs</li>
            </ul>

            <h3>Articoli più Popolari</h3>
            <ul class="list-unstyled">
                <li><a href="post.html?id=1" class="text-decoration-none 4- text-dark" >Introduzione a Docker</a></li>
                <li><a href="post.html?id=2" class="text-decoration-none 4- text-dark" >Fondamenti di PHP</a></li>
                <li><a href="post.html?id=3" class="text-decoration-none 4- text-dark" >Fondamenti di HTML</a></li>
            </ul>
    </div>
</div>